<body style="background-color: rgba(0, 0, 0, 0.87)">
  <form
    action="/edit/username"
    method="POST"
    style="position: center; display: flex; margin: 20%; padding-left: 20%"
  >
    <label for="newUsername" style="background-color: white"
      >New Username:</label
    >
    <input type="text" id="newUsername" name="newUsername" required />
    <button type="submit">Update Username</button>
  </form>
</body>
