<body style="background-color: rgba(0, 0, 0, 0.87)">
  <form
    action="/edit/email"
    method="POST"
    style="position: center; display: flex; margin: 20%; padding-left: 20%"
  >
    <label for="newEmail" style="background-color: white">New email</label>
    <input type="text" id="newEmail" name="newEmail" required />
    <button type="submit">Update Username</button>
  </form>
</body>
