<!-- editUsername.ejs -->
<body style="background-color: rgba(0, 0, 0, 0.87)">
  <form
    action="/edit/password"
    method="POST"
    style="position: center; display: flex; margin: 20%; padding-left: 20%"
  >
    <label for="newPassword" style="background-color: white"
      >New Password:</label
    >
    <input type="password" id="newPassword" name="newPassword" required />
    <button type="submit">Update password</button>
  </form>
</body>
