<div
  style="
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 450px;
  "
>
  <a href="/search">
    <svg
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18jsvk2 r-lwhw9o r-cnnz9e"
      style="height: 60px; width: 60px"
    >
      Search
      <g>
        <path
          d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
        ></path>
      </g>
    </svg>
  </a>
  <div style="padding-top: 40px">
    <h1>What's happening</h1>

    <h2>Politics 路 Trending</h2>
    <p>#ModiTohGayo</p>
    <p>90.9K posts</p>
    <h2>Entertainment 路 Trending</h2>
    <p>#Kalki2898AD</p>
    <p>Trending with #Prabhas, #AmitabhBachchan</p>
    <h2>Sports 路 Trending</h2>
    <p>#RCBvsKKR</p>
    <h2>Trending with #ViratKohli, Lomror</h2>
    <h2>Entertainment 路 Trending</h2>
    <p>#QueenOfTearsEp14</p>
  </div>
</div>
