<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <header><%- include('header.ejs') %></header>

    <aside><%- include('sidebar.ejs') %></aside>

    <main><%- include('tweetsCenter.ejs',{allTweets}) %></main>

    <footer></footer>
  </body>
</html>
